.mukhiya{
  /* border: 5px inset brown; */
  
  width: 800px;
  height: 40rem;
  justify-content: center;
  justify-self: center;
  /* background-color: white; */
}
.sub-mukhiya{
  /* border: 5px inset brown; */
  width: 500px;
  justify-self: center;
  /* margin-top: 10%; */
  text-align: center;
  box-shadow: 1px 2px 50px 10px lightblue;
  background-color: sandybrown;
  border-radius: 30px;
  padding: 10px;

}
.sub-mukhiya:hover{
  background-color: lightblue;
  transform:translateX(4px);
  
}
.sub-mukhiya h1{
  margin:20px;
  padding: 10px;
}
.sub-mukhiya input{
  width: 60%;
  height: 30px;
  margin: 0px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
.sub-mukhiya button{
  width: 50%;
  height: 40px;
  margin-bottom:20px;
  border-radius: 5px;
  background-color: #4CAF50;
  font-size: 140%;
}