/* Card Styling for Contact */
.card {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  /* background: white; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  color: #333;
  font-size: 36px;
  background-color: #E8F9FF;
  border-radius: 50px;
}

.card p {
  font-size: 18px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  text-align: left;
}

.contact-form label {
  font-size: 16px;
  color:black;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-details {
  margin-top: 30px;
  text-align: left;
  color:#333
}

.contact-details h3 {
  color: #007bff;
}

.contact-details p {
  font-size: 16px;
}