.Container{
  margin:auto;
  margin-left: 0px;
  padding:5px;
  /* border: 5px inset brown; */
  border-radius: 15px;
}


/* .slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 400%;
  animation: slide 5s infinite;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
} */