/* body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
} */

.main-div {
  width: 100%;
  min-height: 90vh;
  border: 2px inset;
  text-align: center;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0px 0px 24px #5C5696;
  /* background: linear-gradient(90deg, #C7C5F4, #776BCC); */
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);


}

.main-div > div {
  /* border: 2px inset red; */
  width: 40%;
  justify-self: center;
  margin-top: 5%;
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.main-div>div:hover {
  box-shadow: 1px 1px 5px 5px #5D54A4;

}
.password-div{
  margin-top:10px;
}

label {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

input {
  text-align: center;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.login-button-div{
  /* border: 1px inset red; */
  text-align: center;
  width: 63%;
  justify-self: center;
}
.login-button {
  background-color: #C7C5F4;
  width:100%;
  padding: 9px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.login-button:hover {
  background-color: #776BCC;
}

.recovery-contents {
  /* border: 1px inset black; */
  display: flex;
  justify-content: space-between;
  width: 63%;
  justify-self: center;
}
.recovery-contents p{
  font-size:medium;
  color: #0f0c29;
}

.recovery-contents>p:hover {
  color: #302b63;
  cursor: pointer;
}

@media (max-width:678px){
  .main-div {
  width: 100%;
  min-height:70vh;
}

.main-div > div {
  /* border: 2px inset red; */
  margin-top:11%;
  width: 70%;
} 

input {
  width:100%;
}
.recovery-contents,.login-button-div {
  width: 100%;
}
}