.main-div1{
  /* border:5px inset red; */
  display: flex;
  margin: 0px;
  padding: 0px;
  
  
}
.place-div{
  /* border: 5px inset yellow; */
  width: 270px;
  height: 400px;
  text-align: center;
  flex-grow:2;
  /* flex-basis: 200; */
 
 
p{
  color: black;
  /* font-weight: bold; */
  font-family: Arial, Helvetica, sans-serif;
}
}
.place-pic{
  width: 200px;
  height: 250px;
  border-radius: 20px;
  /* filter:drop-shadow(10px 10px red) */

  /* border: 5px inset gray; */
  transition:transform 1s ease-out
}


.place-pic:hover{
  transform: scale(1.04);
  box-shadow: 2px 2px 10px lightcoral ;
}




/* ========== MOBILE VIEW (max-width: 768px) ========== */
@media (max-width: 768px){

  .main-div1{
    flex-direction: column;
    align-items: center;
  }

  .place-div{
    width: 100%;
    height: auto;
  }

  .place-pic{
    width: 180px;
    height: 220px;
  }

  .place-div p{
    font-size: 14px;
  }
}


/* ========== TABLET VIEW (max-width: 1024px) ========== */
@media (max-width: 1024px){

  .main-div1{
    flex-wrap: wrap;
    justify-content: center;
  }

  .place-div{
    width: 45%;
    height: auto;
    margin-bottom: 20px;
  }

  .place-pic{
    width: 190px;
    height: 230px;
  }
}

