body{
  background-color: #D69ADE;
  background-image: url('/src/img/samundar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(12px);

}
.logo-heading-div{
  /* border: 1px inset wheat; */
  display:flex;
  align-items: center;
  position: relative;

}
.heading-div1{
  /* border: 2px inset red; */
  padding: 0px;
  border-radius: 10px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
.heading-div1 h1{
  background-image: url(./img/jaisalmer.jpg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.link{
  text-decoration: none;
  color:white
}

.logo-div{
  /* border: 1px inset yellow; */
  width: 10%;
  height: 100%;
}
.logo{
  display:block;
  border-radius: 50px;
  width: 70px;
  margin:auto;
  margin-top: 5px;
}

.nav-elements{
  background-color: #d5dfeb; 
  margin: 30px 0px;
  /* text-align: center; */
  color: #011511;
  border: none;
  border-radius: 10px;
  /* padding: 10px; */
}
.nav-elements span{
  /* margin: 20px; */
  margin-left: 20px;
  /* background-color: pink; */
  font-size: 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
.nav-elements span:hover{
  background-color:	#A3D1C6;
  color: #0d1b2a;
  /* opacity: 50%; */
  cursor: pointer;
  padding: 5px;
}
.header-buttons{
  display: inline;
  margin-left: 20%;
}
.book-Button{
  border: none;
  width: 130px;
  padding: 10px;
  margin: 10px;;
  border-radius: 10px;
  font-size: 19px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: box-shadow 0.6s ease-in-out;
  transition: background-color 0.7s ease-in-out;
}
