body{
  background-color: #D69ADE;
  background-image: url('/src/img/samundar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(12px);

}
.heading-div1{
  /* background-color:red; */
  padding: 0px;
  text-align: center;
  border-radius: 10px;
  
  
}
.heading-div1 h1{
  background: linear-gradient(45deg,orange,rgb(187, 6, 154));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.link{
  text-decoration: none;
  color:white
}

.logo-div{
  /* text-align: left; */
  width: 100%;
  height: 100%;
  /* margin-left: 10px; */
}
.logo-nav{
  display:inline;
  /*justify-content:space-evenly;*/
  /* background-color: pink; */
}
.logo{
  display:block;
  border-radius: 50px;
  width: 70px;
  margin:auto;
  margin-top: 5px;
}

.nav-elements{
  background-color: #d5dfeb; 
  margin: 30px 0px;
  /* text-align: center; */
  color: #011511;
  border: none;
  border-radius: 10px;
  /* padding: 10px; */
}
.nav-elements span{
  /* margin: 20px; */
  margin-left: 20px;
  /* background-color: pink; */
  font-size: 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
.nav-elements span:hover{
  background-color:	#A3D1C6;
  color: #0d1b2a;
  /* opacity: 50%; */
  cursor: pointer;
  padding: 5px;
}
.header-buttons{
  display: inline;
  margin-left: 20%;
}
.book-Button{
  border: none;
  width: 130px;
  padding: 10px;
  margin: 10px;;
  border-radius: 10px;
  font-size: 19px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: box-shadow 0.6s ease-in-out;
  transition: background-color 0.7s ease-in-out;
}
